<% if (typeof form != 'undefined') { %>
    <button class="<%= classnames %>" data-form="<%= form %>" data-href="<%= url %>" data-label="<%= label %>"><%= label %></button>
<% } else { %>
    <a class="<%= classnames %>" href="<%= url %>" data-label="<%= label %>"><%= label %></a>
<% } %>