<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/buttons', {
    url: endpoints.registerAlbum.url,
    label: 'Back',
    classnames: 'o-button-back'
}); %>

<h1 class="u-heading-1 u-align-center"><%= endpoints.registerPlaylist.title %></h1>

<h2 class="u-heading-2 u-align-center">Choose your favorite playlist</h2>

<form class="o-search-form l-grid--mobile" action="" id="searchSong">
    <input class="o-search-form--input" type="text" id="anthem_id_input" placeholder="Search">
    <button class="o-search-form--button" type="button" id="search_anthem_button"><i class="fas fa-search"></i></button>
</form>

<div id="search_results"></div>

<%- include('../../_components/buttons', {
    url: endpoints.registerImages.url, 
    label: 'Next',
    classnames: 'o-button-primary'
}); %>

<%- include('../../_partials/footer'); %>
