<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/buttons', { url: endpoints.registerConnected.url, label: 'Back' }); %>

        <h1 class="u-heading-1 u-align-center">
            <%= endpoints.registerProfile.title %>
        </h1>
        <!-- ===== Sign Up Form ===== -->
        <form id="firestore_form">
            <h2 class="u-heading-2 u-align-center">Your Name</h2>
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <h2 class="u-heading-2 u-align-center">Your Birthday</h2>
            <input type="date" name="bday" placeholder="Birthday" required>
            <button class="o-button-primary" type="submit">Submit</button>
        </form>

        <%- include('../../_components/buttons', { url: endpoints.registerSong.url, label: 'Next' }); %>

            <%- include('../../_partials/footer'); %>